<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>GrantMatcher - Edit <%= title %></title>
    <%- head %>
</head>
<body>
    <!-- Navigation (sticky header). Links and dropdown collapse into a hamburger menu when the screen size is small. -->
    <nav class="navbar navbar-expand-lg navbar-dark px-3" id="navbar">
        <!-- Brand on the left -->
        <a class="navbar-brand bigBrand" href="/" id="navbar-brand">Grant Matcher</a>

        <!-- Toggler (for mobile view) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" id="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links on the right -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Links here -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tickets">Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutorial">Tutorial</a>
                </li>

                <!-- Dropdown (user menu) -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user-circle-o"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/settings">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <!-- Logout button (opens a modal) -->
                        <li><button class="dropdown-item" id="modalBtn1" onclick="openModal(1)">Logout</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- The modal the logout button in the navigation bar opens -->
    <div id="modal1" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Log out</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close1">&times;</span>
            </div>
            
            <!-- Confirmation message (for user control) -->
            <p>Are you sure you want to log out?</p>
            <div class="together">
                <form method="post" action="/">
                    <input type="submit" value="Logout!" class="buttonStyle">
                </form>
                <button id='cancel1' class="buttonStyle">Cancel</button>
            </div>
        </div>
    </div>

    <!-- Error modal -->
    <div id="modal2" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Error!</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close2">&times;</span>
            </div>
            <hr/>
            
            <p id="showAlert"><%= showAlert %></p>
        </div>
    </div>

    <!-- Confirmation modal before submitting the form -->
    <div id="modal3" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Edit Grant</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close3">&times;</span>
            </div>
            
            <!-- Confirmation message (for user control) -->
            <p>Are you sure you want to edit this grant now?</p>
            <div class="together">
                <button class="buttonStyle" onclick="submit()">Confirm Changes</button>
                <button id='cancel3' class="buttonStyle">Cancel</button>
            </div>
        </div>
    </div>

    <!-- Another error modal -->
    <div id="modal4" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Error!</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close4">&times;</span>
            </div>
            <hr/>
            
            <p>Please ensure that you have filled in all areas.</p>
        </div>
    </div>

    <!-- Confirmation modal for going back to grant page -->
    <div id="modal5" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Go Back</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close5">&times;</span>
            </div>
            
            <!-- Confirmation message (for user control) -->
            <p>Are you sure you want to go back the the grant page?</p>
            <div class="together">
                <button class="buttonStyle" onclick="window.location.href = '/grant/<%= id %>'">Go Back</button>
                <button id='cancel5' class="buttonStyle">Cancel</button>
            </div>
        </div>
    </div>

    <!-- The main content -->
    <main>
        <section>
            <div class="together align-items-center" style="justify-content: space-between;">
                <div>
                    <h1>Edit <%= title %></h1>
                </div>
                <div>
                    <i class="fa fa-times" onclick="openModal(5)"></i>
                </div>
            </div>
        </section>
        <hr/>

        <section>
            <div class="together">
                <div style="width: 100%;">
                    <label><b>NAME</b></label>
                    <input type="text" id="grantName" class="form-control" name="grantName" value="<%= title %>" required>
                </div>
                
                <div style="width: 100%;">
                    <label><b>URL</b></label>
                    <input type="url" id="url" class="form-control" name="url" value="<%= url %>" required>
                </div>
            </div>
            <br>

            <div class="together">
                <div style="width: 100%;">
                    <label><b>DEADLINE</b></label>
                    <input type="date" id="deadline" class="form-control" name="deadline" value="<%= deadline %>" required>
                </div>
                
                <div style="width: 100%;">
                    <label><b>DURATION</b></label>
                    <input type="number" min=0 id="duration" step="0.1" class="form-control" value="<%= duration %>" name="duration" required>
                </div>
            </div>
            <br>

            <label><b>SELECT CLUSTERS</b></label>
            <p>Click clusters in the unselected list to select them, and click clusters in the selected list to deselect them. You can search and sort the two lists separately.</p>
            <div class="together clusterselector">
                <!-- List of the unselected clusters -->
                <div class="unselected">
                    <div class="listboxinput">
                        <div class="listboxtextdiv">
                            <!-- Numbering the IDs so I can use many selectors (code reuse) -->
                            <!-- This is where the user enters some text that is matched to the clusters in the unselectedClusters list -->
                            <input class="listboxtext" type="text" id="searchUnselectedClusters1" name="searchUnselectedClusters1" placeholder="Enter a cluster">
                        </div>
                        <div class="listboxsubmitdiv">
                            <!-- User can press this button to search from the list -->
                            <button class="listboxsubmit" onclick="findUnselectedCluster(1)"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="listboxsubmitdiv">
                            <!-- Added a reset button so its easier for the user to reset the form (displaying all clusters in the list) -->
                            <button class="listboxsubmit" onclick="resetUnselectedClusterSearch(1)"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <!-- Contains all unselected clusters -->
                    <div class="listboxdiv unselectedClusters" id="unselectedClusters1">
                    </div>
                    <div class="clustersort">
                        <label for="sortUnselected1">Sort By:</label>

                        <!-- Sort-by dropdown -->
                        <select name="sortUnselected1" id="sortUnselected1" onchange="sortUnselected(1)">
                            <option value="id">ID</option>
                            <option value="name">Name</option>
                            <option value="number"># of Researchers</option>
                        </select>
                    </div>
                </div>
                
                <!-- Duplicate of the unselected list (for consistency and symmetrical balance) but with different names -->
                <div class="selected">
                    <div class="listboxinput">
                        <div class="listboxtextdiv">
                            <input class="listboxtext" type="text" id="searchSelectedClusters1" name="searchSelectedClusters1" placeholder="Enter a cluster">
                        </div>
                        <div class="listboxsubmitdiv">
                            <button class="listboxsubmit" onclick="findSelectedCluster(1)"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="listboxsubmitdiv">
                            <button class="listboxsubmit" onclick="resetSelectedClusterSearch(1)"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <div class="listboxdiv selectedClusters" id="selectedClusters1">
                    </div>
                    <div class="clustersort">
                        <label for="sortSelected1">Sort By:</label>

                        <select name="sortSelected1" id="sortSelected1" onchange="sortSelected(1)">
                            <option value="id">ID</option>
                            <option value="name">Name</option>
                            <option value="number"># of Researchers</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>

            <div class="together">
                <div style="width: 100%;">
                    <label><b>DESCRIPTION</b></label><br>
                    <textarea rows="4" style="width: 100%;" id="description" class="form-control" name="description" required><%= description %></textarea>
                </div>
                
                <div style="width: 100%;">
                    <label><b>KEYWORDS</b></label><br>
                        <div style="width: 100%;">
                        <div class="listbox" style="overflow:auto; ">
                            <div class="listboxdiv" style="height: 70px;">
                                <!-- Numbering the IDs so I can use many selectors (code reuse) -->
                                <!-- All keywords displayed here -->
                                <ul class="listboxul" id="list1" style="height: 70px;" name="list1">
                                </ul>
                            </div>

                            <!-- The two elements in the div are on the same line -->
                            <div class="listboxinput">
                                <!-- User enters keywords here -->
                                <div class="listboxtextdiv">
                                    <input class="listboxtext" type="text" id="keyword1" name="keyword1" placeholder="Enter a keyword">
                                </div>

                                <!-- User presses this button to add the keyword to the list -->
                                <div class="listboxsubmitdiv">
                                    <button class="listboxsubmit" onclick="addKeyword(1)"><i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="together" style="align-items: flex-start;">
                <div style="width: 100%;">
                    <label><b>RESEARCHERS</b>
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Researchers who have been matched to the grant.">
                            <!-- Makes the tooltip circular -->
                            <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                        </button>
                    </label>
                    <div style="width: 100%;">
                        <div class="listbox" style="overflow:auto; ">
                            <div class="listboxdiv" style="height: 90px;">
                                <!-- Numbering the IDs so I can use many selectors (code reuse) -->
                                <!-- All keywords displayed here -->
                                <ul class="listboxul" id="list2" style="height: 90px;" name="list2">
                                </ul>
                            </div>

                            <!-- The two elements in the div are on the same line -->
                            <div class="listboxinput">
                                <!-- User enters keywords here -->
                                <div class="listboxtextdiv">
                                    <input class="listboxtext" type="text" id="keyword2" name="keyword2" placeholder="Enter a researcher">
                                </div>

                                <!-- User presses this button to add the keyword to the list -->
                                <div class="listboxsubmitdiv">
                                    <button class="listboxsubmit" onclick="addKeyword(2)"><i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div style="width: 100%;">
                    <label><b>REASON</b>
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Briefly explain why you edited this grant and what changes you made.">
                            <!-- Makes the tooltip circular -->
                            <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                        </button>
                    </label>
                    <textarea id="reason" class="form-control" name="reason" required></textarea><br>
                    <button class="buttonStyle pink" style="width: 100%;" onclick="openModal(3)">Confirm Changes</button>
                </div>
            </div>
            <br><br>
        </section>
    </main>
    
    <!-- EJS partial (for code reuse and efficiency) -->
    <%- footer %>

    <!-- Bootstrap for JS -->
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <!-- This file allows for the user to interact with the elements on the site and for the site to give feedback to the user -->
    <script src="/script.js"></script>
    <!-- JQuery for the tooltip -->
    <script>
        $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
    </script>
    <script>
        function submit() {
            grantName = document.getElementById("grantName").value
            url = document.getElementById("url").value
            deadline = document.getElementById("deadline").value
            duration = document.getElementById("duration").value
            description = document.getElementById("description").value
            reason = document.getElementById("reason").value

            // validation for name, url, deadline, duration, and description
            if (grantName.trim() == '' || url.trim() == '' || deadline.trim() == '' || duration.trim() == '' || description.trim() == '') {
                document.getElementById("modal3").style.display = 'none'
                openModal(4)
            } else {
                data = {
                    "name": grantName,
                    "url": url,
                    "deadline": deadline,
                    "duration": duration,
                    "description": description,
                    "clusters": getSelectedClusterNames(1),
                    "keywords": getKeywords(1),
                    "researchers": getKeywords(2),
                    "reason": reason
                }

                fetch('/editgrant/<%= id %>', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data)
                }).then(response => response.json()).then(data => {
                    if (data.id == undefined) {
                        document.getElementById('showAlert').textContent = data.alert
                        document.getElementById('modal3').style.display = 'none'
                        openModal(2)
                    } else {
                        window.location.href = `/grant/${data.id}`
                    }
                });
            }
        }
    </script>
    <script>
        function initialise() {
            // initialise clusters
            <% for (var i = 0 ; i < clusters.length ; i++) { %>
                selectCluster('1U' + '<%= clusters[i] %>') // add to the clusters selector 
            <% } %>

            // initialise keywords
            <% for (var i = 0 ; i < keywords.length ; i++) { %>
                keyword = '<%= keywords[i] %>'
                if (keyword.trim() != '') {
                    addKeywordManual(1, keyword) // add to the keywords list 
                }
            <% } %>

            // initialise researchers
            <% for (var i = 0 ; i < researchers.length ; i++) { %>
                researcher = '<%= researchers[i] %>'
                if (researcher.trim() != '') {
                    addKeywordManual(2, researcher) // add to the keywords list 
                }
            <% } %>
        }
    </script>
    <script>
        // wait for a condition to be true
        const waitFor = (conditionFn, callback, interval = 50) => {
            const checker = setInterval(() => {
            if (conditionFn()) {
                clearInterval(checker);
                callback();
            }
            }, interval);
        };

        // wait for clusters to be initialised
        waitFor(
            () => clustersInitialised === true,
            () => {
                initialise()
            }
        );
    </script>
</body>
</html>