<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>GrantMatcher - Match <%= title %></title>
    <%- head %>
</head>
<body>
    <!-- Navigation (sticky header). Links and dropdown collapse into a hamburger menu when the screen size is small. -->
    <nav class="navbar navbar-expand-lg navbar-dark px-3" id="navbar">
        <!-- Brand on the left -->
        <a class="navbar-brand bigBrand" href="/" id="navbar-brand">Grant Matcher</a>

        <!-- Toggler (for mobile view) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" id="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links on the right -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Links here -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tickets">Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutorial">Tutorial</a>
                </li>

                <!-- Dropdown (user menu) -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user-circle-o"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/settings">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <!-- Logout button (opens a modal) -->
                        <li><button class="dropdown-item" id="modalBtn1" onclick="openModal(1)">Logout</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- The modal the logout button in the navigation bar opens -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <div class="together">
                <h2>Log out</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close1">&times;</span>
            </div>
            
            <!-- Confirmation message (for user control) -->
            <p>Are you sure you want to log out?</p>
            <div class="together">
                <form method="post" action="/">
                    <input type="submit" value="Logout!" class="buttonStyle">
                </form>
                <button id='cancel1' class="buttonStyle">Cancel</button>
            </div>
        </div>
    </div>

    <!-- Error modal -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <div class="together">
                <h2>Error!</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close2">&times;</span>
            </div>
            <hr/>
            
            <p id="showAlert"><%= showAlert %></p>
        </div>
    </div>

    <!-- Confirmation modal before submitting the form -->
    <div id="modal3" class="modal">
        <div class="modal-content">
            <div class="together">
                <h2>Direct Matching</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close3">&times;</span>
            </div>
            
            <!-- Confirmation message (for user control) -->
            <p>Are you sure you want to match this grant directly? This might take some time (~15 seconds).</p>
            <div class="together">
                <button class="buttonStyle" onclick="directMatch()">Match now</button>
                <button id='cancel3' class="buttonStyle">Cancel</button>
            </div>
        </div>
    </div>

    <!-- Another error modal -->
    <div id="modal4" class="modal">
        <div class="modal-content">
            <div class="together">
                <h2>Error!</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close4">&times;</span>
            </div>
            <hr/>
            
            <p>Please ensure that you have filled in all areas.</p>
        </div>
    </div>

    <!-- Confirmation modal before submitting the form -->
    <div id="modal5" class="modal">
        <div class="modal-content">
            <div class="together">
                <h2>Match Through Clusters</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close5">&times;</span>
            </div>
            
            <!-- Confirmation message (for user control) -->
            <p>Are you sure you want to match this grant through clusters? This might take some time (~15 seconds).</p>
            <div class="together">
                <button class="buttonStyle" onclick="clusterMatch()">Match now</button>
                <button id='cancel5' class="buttonStyle">Cancel</button>
            </div>
        </div>
    </div>

    <div id="modal6" class="modal">
        <div class="modal-content">
            <div class="together">
                <h2>Filter Researchers</h2>
                <span class="close" id="close6">&times;</span>
            </div>
            <hr/>

            <div class="together">
                <div style="width: 100%;">
                    <label><b>NAME</b></label><br>
                    <input type="text" class="form-control" id="researcherName" name="researcherName" placeholder="Enter their name">
                </div>
                <div class="spacer"></div>
                <div style="width: 100%;">
                    <label><b>SCHOOL</b></label><br>
                    <select name="school" class="form-control" id="school" style="width: 100%">
                        <option value="all">All</option>
                        <option value="geoscience">Geosciences</option>
                        <option value="philosophy">History and Philosophy</option>
                        <option value="chemistry">Chemistry</option>
                        <option value="biology">Life and Environmental Sciences</option>
                        <option value="maths">Mathematics and Statistics</option>
                        <option value="physics">Physics</option>
                        <option value="psychology">Psychology</option>
                        <option value="veterinary">Veterinary Science</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="together">
                <div style="width: 100%;">
                    <label><b>EMAIL</b></label><br>
                    <input type="text" class="form-control" id="researcherEmail" name="researcherEmail" placeholder="Enter their email">
                </div>
                <div class="spacer"></div>
                <div style="width: 100%;">
                    <label><b>GENDER</b></label><br>
                    <select name="gender" class="form-control" id="gender" style="width: 100%">
                        <option value="all">All</option>
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                        <option value="N">Non-Binary</option>
                        <option value="U">Unknown Gender</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="together">
                <div style="width: 100%;">
                    <label><b>ACTIVITY RANGE</b></label><br>
                    <div class="together">
                        <input type="number" class="form-control" id="lower" class="form-control" name="lower" min="0" max="1" step="0.01" style="width: 100%"><p style="margin-left: 5px; margin-right: 5px;">to</p><input type="number" class="form-control" id="higher" name="higher" min="0" max="1" style="width: 100%" step="0.01">
                    </div>
                </div>
                <div class="spacer"></div>
                <div style="width: 100%;">
                    <label><b>CAREER STAGE</b></label><br>
                    <select name="career" class="form-control" id="career" style="width: 100%">
                        <option value="all">All</option>
                        <option value=1>Post-Doctorate</option>
                        <option value=2>Early Career Researcher</option>
                        <option value=3>Mid-Career Researcher</option>
                        <option value=4>Senior Researcher</option>
                    </select>
                </div>
            </div>
            <br>

            <div class="together" style="align-items: flex-start;">
                <div style="width: 100%;">
                    <label><b>SELECTED</b>
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Whether you have selected the researcher or not.">
                            <!-- Makes the tooltip circular -->
                            <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                        </button>
                    </label><br>
                    <select name="selected" class="form-control" id="selected" style="width: 100%">
                        <option value="all">All</option>
                        <option value="yes">Selected</option>
                        <option value="no">Unselected</option>
                    </select>
                </div>
                <div class="spacer"></div>
                <div style="width: 100%;">
                    <label><b>KEYWORDS</b>
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Add keywords by pressing the add button. Remove keywords from the list by pressing the trash icon next to the keyword you want to remove.">
                            <!-- Makes the tooltip circular -->
                            <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                        </button>
                    </label>
                    <div class="listbox" style="overflow:auto; ">
                        <div class="listboxdiv" style="height: 70px;">
                            <!-- Numbering the IDs so I can use many selectors (code reuse) -->
                            <!-- All keywords displayed here -->
                            <ul class="listboxul" id="list1" style="height: 70px;">
                            </ul>
                        </div>

                        <!-- The two elements in the div are on the same line -->
                        <div class="listboxinput">
                            <!-- User enters keywords here -->
                            <div class="listboxtextdiv">
                                <input class="listboxtext" type="text" id="keyword1" name="keyword1" placeholder="Enter a keyword">
                            </div>

                            <!-- User presses this button to add the keyword to the list -->
                            <div class="listboxsubmitdiv">
                                <button class="listboxsubmit" onclick="addKeyword(1)"><i class="fa fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <label><b>SE:ECT CLUSTERS</b></label>
            <p>Click clusters in the unselected list to select them, and click clusters in the selected list to deselect them. You can search and sort the two lists separately.</p>
            <div class="together clusterselector">
                <!-- List of the unselected clusters -->
                <div class="unselected">
                    <div class="listboxinput">
                        <div class="listboxtextdiv">
                            <!-- Numbering the IDs so I can use many selectors (code reuse) -->
                            <!-- This is where the user enters some text that is matched to the clusters in the unselectedClusters list -->
                            <input class="listboxtext" type="text" id="searchUnselectedClusters1" name="searchUnselectedClusters1" placeholder="Enter a cluster">
                        </div>
                        <div class="listboxsubmitdiv">
                            <!-- User can press this button to search from the list -->
                            <button class="listboxsubmit" onclick="findUnselectedCluster(1)"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="listboxsubmitdiv">
                            <!-- Added a reset button so its easier for the user to reset the form (displaying all clusters in the list) -->
                            <button class="listboxsubmit" onclick="resetUnselectedClusterSearch(1)"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <!-- Contains all unselected clusters -->
                    <div class="listboxdiv unselectedClusters" id="unselectedClusters1">
                    </div>
                    <div class="clustersort">
                        <label for="sortUnselected1">Sort By:</label>

                        <!-- Sort-by dropdown -->
                        <select name="sortUnselected1" id="sortUnselected1" onchange="sortUnselected(1)">
                            <option value="id">ID</option>
                            <option value="name">Name</option>
                            <option value="number"># of Researchers</option>
                        </select>
                    </div>
                </div>

                <!-- Adds space between the selected and unselected lists -->
                <div class="spacer"></div>

                <!-- Duplicate of the unselected list (for consistency and symmetrical balance) but with different names -->
                <div class="selected">
                    <div class="listboxinput">
                        <div class="listboxtextdiv">
                            <input class="listboxtext" type="text" id="searchSelectedClusters1" name="searchSelectedClusters1" placeholder="Enter a cluster">
                        </div>
                        <div class="listboxsubmitdiv">
                            <button class="listboxsubmit" onclick="findSelectedCluster(1)"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="listboxsubmitdiv">
                            <button class="listboxsubmit" onclick="resetSelectedClusterSearch(1)"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <div class="listboxdiv selectedClusters" id="selectedClusters1">
                    </div>
                    <div class="clustersort">
                        <label for="sortSelected1">Sort By:</label>

                        <select name="sortSelected1" id="sortSelected1" onchange="sortSelected(1)">
                            <option value="id">ID</option>
                            <option value="name">Name</option>
                            <option value="number"># of Researchers</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>

            <div class="together" style="align-items: flex-start;">
                <div style="width: 100%;">
                    <button class="buttonStyle blue" style="width: 100%;" onclick="resetResearcherSearch(6, dbclick=null, idField='uniqueId'); document.getElementById('modal6').style.display = 'none';">Reset Form</button>
                </div>
                <div class="spacer"></div>
                <div style="width: 100%;">
                    <button class="buttonStyle pink" style="width: 100%;" onclick="searchResearcher(6, dbclick=null, idField='uniqueId'); document.getElementById('modal6').style.display = 'none';">Search</button>
                </div>
            </div>
            <br>
        </div>
    </div>

    <!-- The modal when the user tries to filter a table but nothing is found -->
    <div id="modal8" class="modal">
        <div class="modal-content">
            <div class="together">
                <h2>Nothing Found</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close8">&times;</span>
            </div>
            
            <p>Nothing was found in this search :( Reset the form or try different parameters.</p>
        </div>
    </div>

    <!-- spinner so the user knows that its processing the info -->
    <div id="loadingSpinner" class="modal">
        <div class="spinner-border text-info" role="status" style="position: fixed; top: 50%; left: 50%; z-index: 10;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- The main content -->
    <main>
        <section>
            <h1>Match a Grant</h1>
        </section>
        <hr/>

        <section>
            <h2>GRANT DETAILS</h2>
            <p><b>NAME:</b> <%= title %></p>
            <p><b>CLUSTERS:</b> <span id="grantClusters"></span></p>
            <p><b>KEYWORDS:</b>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="A list of the grant's keywords.">
                    <!-- Makes the tooltip circular -->
                    <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                </button>
            </p>
            <textarea id="grantKeywords" rows="5" disabled></textarea>
        </section>
        <hr/>

        <section>
            <h2>FILTERING SPECIFICATIONS</h2>
            <!-- TODO: Add explanation here -->
            <div class="together">
                <div style="width: 100%;">
                    <label><b>SCHOOL</b></label><br>
                    <select name="schoolMatch" class="form-control" id="schoolMatch" style="width: 100%">
                        <option value="all">All</option>
                        <option value="geoscience">Geosciences</option>
                        <option value="philosophy">History and Philosophy</option>
                        <option value="chemistry">Chemistry</option>
                        <option value="biology">Life and Environmental Sciences</option>
                        <option value="maths">Mathematics and Statistics</option>
                        <option value="physics">Physics</option>
                        <option value="psychology">Psychology</option>
                        <option value="veterinary">Veterinary Science</option>
                    </select>
                </div>
                <div class="spacer"></div>
                <div style="width: 100%;">
                    <label><b>CAREER STAGE</b></label><br>
                    <select name="careerMatch" class="form-control" id="careerMatch" style="width: 100%">
                        <option value="all">All</option>
                        <option value=1>Post-Doctorate</option>
                        <option value=2>Early Career Researcher</option>
                        <option value=3>Mid-Career Researcher</option>
                        <option value=4>Senior Researcher</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="together">
                <div style="width: 100%;">
                    <label><b>GENDER</b></label><br>
                    <select name="genderMatch" class="form-control" id="genderMatch" style="width: 100%">
                        <option value="all">All</option>
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                        <option value="N">Non-Binary</option>
                        <option value="U">Unknown Gender</option>
                    </select>
                </div>
                <div class="spacer"></div>
                <div style="width: 100%;">
                    <label><b>ACTIVITY RANGE</b></label><br>
                    <div class="together">
                        <input type="number" class="form-control" id="lowerMatch" class="form-control" name="lowerMatch" min="0" max="1" step="0.01" style="width: 100%"><p style="margin-left: 5px; margin-right: 5px;">to</p><input type="number" class="form-control" id="higherMatch" name="higherMatch" min="0" max="1" style="width: 100%" step="0.01">
                    </div>
                </div>
            </div>
            <br>

            <label><b>SE:ECT CLUSTERS</b></label>
            <p>Click clusters in the unselected list to select them, and click clusters in the selected list to deselect them. You can search and sort the two lists separately.</p>
            <div class="together clusterselector">
                <!-- List of the unselected clusters -->
                <div class="unselected">
                    <div class="listboxinput">
                        <div class="listboxtextdiv">
                            <!-- Numbering the IDs so I can use many selectors (code reuse) -->
                            <!-- This is where the user enters some text that is matched to the clusters in the unselectedClusters list -->
                            <input class="listboxtext" type="text" id="searchUnselectedClusters2" name="searchUnselectedClusters2" placeholder="Enter a cluster">
                        </div>
                        <div class="listboxsubmitdiv">
                            <!-- User can press this button to search from the list -->
                            <button class="listboxsubmit" onclick="findUnselectedCluster(2)"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="listboxsubmitdiv">
                            <!-- Added a reset button so its easier for the user to reset the form (displaying all clusters in the list) -->
                            <button class="listboxsubmit" onclick="resetUnselectedClusterSearch(2)"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <!-- Contains all unselected clusters -->
                    <div class="listboxdiv unselectedClusters" id="unselectedClusters2">
                    </div>
                    <div class="clustersort">
                        <label for="sortUnselected2">Sort By:</label>

                        <!-- Sort-by dropdown -->
                        <select name="sortUnselected2" id="sortUnselected2" onchange="sortUnselected(2)">
                            <option value="id">ID</option>
                            <option value="name">Name</option>
                            <option value="number"># of Researchers</option>
                        </select>
                    </div>
                </div>

                <!-- Adds space between the selected and unselected lists -->
                <div class="spacer"></div>

                <!-- Duplicate of the unselected list (for consistency and symmetrical balance) but with different names -->
                <div class="selected">
                    <div class="listboxinput">
                        <div class="listboxtextdiv">
                            <input class="listboxtext" type="text" id="searchSelectedClusters2" name="searchSelectedClusters2" placeholder="Enter a cluster">
                        </div>
                        <div class="listboxsubmitdiv">
                            <button class="listboxsubmit" onclick="findSelectedCluster(2)"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="listboxsubmitdiv">
                            <button class="listboxsubmit" onclick="resetSelectedClusterSearch(2)"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <div class="listboxdiv selectedClusters" id="selectedClusters2">
                    </div>
                    <div class="clustersort">
                        <label for="sortSelected2">Sort By:</label>

                        <select name="sortSelected2" id="sortSelected2" onchange="sortSelected(2)">
                            <option value="id">ID</option>
                            <option value="name">Name</option>
                            <option value="number"># of Researchers</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>
        <hr/>

        <section>
            <h2>MATCHING OPTIONS</h2>
            <!-- TODO: Add explanation here -->
            <div class="together">
                <div style="width: 100%">
                    <div class="together">
                        <label><b>KEYWORDS</b>
                            <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Add keywords by pressing the add button. Remove keywords from the list by pressing the trash icon next to the keyword you want to remove.">
                                <!-- Makes the tooltip circular -->
                                <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                            </button>
                        </label>
                    </div>

                    <div>
                        <!-- TODO: make the grant keywords here default -->
                        <div class="listbox" style="overflow:auto; ">
                            <div class="listboxdiv" style="height: 70px;">
                                <!-- Numbering the IDs so I can use many selectors (code reuse) -->
                                <!-- All keywords displayed here -->
                                <ul class="listboxul" id="list2" style="height: 70px;">
                                </ul>
                            </div>

                            <!-- The two elements in the div are on the same line -->
                            <div class="listboxinput">
                                <!-- User enters keywords here -->
                                <div class="listboxtextdiv">
                                    <input class="listboxtext" type="text" id="keyword2" name="keyword2" placeholder="Enter a keyword">
                                </div>

                                <!-- User presses this button to add the keyword to the list -->
                                <div class="listboxsubmitdiv">
                                    <button class="listboxsubmit" onclick="addKeyword(2)"><i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div style="width: 100%">
                    <label for="number"><b>NUMBER</b>
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Number of researchers to find. No need for number if you specified strictness!">
                            <!-- Makes the tooltip circular -->
                            <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                        </button>
                    </label>
                    <input type="number" name="number" id="number" style="width: 100%" min="0" step="1"><br><br>
                    <!-- TODO: implement this -->
                    <label for="strictness"><b>STRICTNESS</b>
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="What fraction of researchers to remove from list. The higher the strictness, the less researchers you get. No need for strictness if you specified number!">
                            <!-- Makes the tooltip circular -->
                            <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                        </button>
                    </label>
                    <input type="number" id="strictness" name="strictness" style="width: 100%" min="0" max="1" step="0.01" disabled>
                </div>
            </div>
            <br>

             <div class="together">
                <div style="width: 100%">
                    <button class="buttonStyle pink" style="width: 100%;" onclick="openModal(3)">Direct Matching</button><br><br>
                    <p>Match the inputted keywords to the researcher's keywords directly. Tends to be more specific.</p>
                </div>
                <div class="spacer"></div>
                <div style="width: 100%">
                    <button class="buttonStyle blue" style="width: 100%;" onclick="openModal(5)">Match Through Clusters</button><br><br>
                    <p>Match the inputted keywords to the clusters, then find all researchers with those clusters.</p>
                </div>
            </div>
        </section>
        <!-- TODO: add an id and hide/show this -->
        <hr/>

        <section style="display: none" id="matchTable">
            <h2>Select Researchers</h2>
            <p>Your list of researchers is ready! Go through them and select the researchers you want to notify. Then click the "Email Them" button to open an email in Outlook! The emails will be copied to your clipboard, so all you have to do is paste the emails in the recipients field and you're all set!</p>
            <p>Nothing appearing? Don't worry! Try a set of different parameters and retry!</p>
            <div class="tableContainer" id="tableContainer6">
                <div>
                    <div class="tableicons">
                        <button type="button" class="btn" style="padding-left: 0" data-toggle="tooltip" data-placement="top" title="Filter Researchers">
                            <i id="modalBtn6" onclick="openModal(6)" class=" fa fa-search"></i>
                        </button>
                    </div>
                    <div class="tablesort">
                        <label for="sortTable6">Sort By:</label>

                        <select name="sortTable6" id="sortTable6" onchange="sortTable(6, dbclick=null, idField='uniqueId')" style="margin-bottom: 5px;">
                            <option value="name">Name</option>
                            <option value="score">Score</option>
                            <option value="activity">Activity</option>
                        </select>
                    </div>
                </div>

                <div style="max-width: 100vw;" >
                    <div class="scrollTableContainer">
                        <table class="table table-bordered" style="margin-bottom: 0; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black;">
                            <thead>
                                <!-- Column names -->
                                <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Keywords</th>
                                <th>Activity</th>
                                <th>Score</th>
                                <th>Select</th>
                                </tr>
                            </thead>
                            <!-- Table items -->
                            <tbody id="tableBody6"></tbody>
                        </table>
                    </div>
                </div>

                <!-- Table footer (with pagination controls and download button) -->
                <div class="pagination-controls" style="border: 1px solid black; margin-top: 0;">
                    <!-- The download button should be left-aligned while the rest is right-aligned -->
                    <!-- align-items-center ensures that the text and icons are aligned properly (otherwise the text sticks out vertically and its distracting) -->
                    <div class="d-flex align-items-center gap-2 d-flex w-100 px-3 py-2">
                        <div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-download"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">XML</a></li>
                                    <li><a class="dropdown-item" href="#">CSV</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ms-auto">
                            <!-- Numbering the IDs so I can use many tables (code reuse) -->
                            <button class="btn" id="firstNav6" onclick="goToFirst(6, dbclick=null, idField='uniqueId')"><i class="fa fa-angle-double-left"></i></button>
                            <button class="btn" id="prevNav6" onclick="goToPrev(6, dbclick=null, idField='uniqueId')"><i class="fa fa-angle-left"></i></button>
                            <!-- Tells the user what page they are on -->
                            <span id="pageStats6"></span>
                            <button class="btn" id="nextNav6" onclick="goToNext(6, dbclick=null, idField='uniqueId')"><i class="fa fa-angle-right"></i></button>
                            <button class="btn" id="lastNav6" onclick="goToLast(6, dbclick=null, idField='uniqueId')"><i class="fa fa-angle-double-right"></i></button>
                        </div>
                    </div>
                </div>
            </div><br>

            <p><b>Selected Researchers:</b> <span id="selectedResearchers">Click the checkbox on the researcher's row to select the researcher. You might have to use the horizontal scroll-bar to find it.</span></p><br>
            <button onclick='emailResearchers()' class="buttonStyle">Email link</button>
        </section>
        <br><br>
    </main>
    
    <!-- EJS partial (for code reuse and efficiency) -->
    <%- footer %>

    <!-- Bootstrap for JS -->
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <!-- This file allows for the user to interact with the elements on the site and for the site to give feedback to the user -->
    <script src="/script.js"></script>
    <!-- JQuery for the tooltip -->
    <script>
        $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
    </script>
    <script>
        function directMatch() {
            // get the user input
            school = document.getElementById("schoolMatch").value
            career = document.getElementById("careerMatch").value
            gender = document.getElementById("genderMatch").value

            lower = document.getElementById("lowerMatch").value
            higher = document.getElementById("higherMatch").value
            
            number = document.getElementById("number").value
            strictness = document.getElementById("strictness").value

            clusters = getSelectedClusterNames(2)

            for (x in clusters[1]) {
                clusters[1][x] = parseInt(clusters[1][x].split('S')[1])
            }

            data = {
                "matchKeywords": getKeywords(2),
                "school": school,
                "career": career,
                "gender": gender,
                "lower": lower,
                "higher": higher,
                "clusters": clusters,
                "cutOff": number,
                "cutOffMethod": "number",
                "matchMethod": "direct"
            }

            // hide the modal and show the spinner
            document.getElementById('modal3').style.display = 'none'
            document.getElementById("loadingSpinner").style.display = 'block'

            fetch('/match', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            }).then(response => response.json()).then(matchResults => {
                if (matchResults.status == "error") {
                    document.getElementById("loadingSpinner").style.display = 'none'
                    document.getElementById('showAlert').textContent = matchResults.alert
                    openModal(2)
                } else {
                    matchResults = matchResults.result
                    document.getElementById("tableBody6").innerHTML = '' // reset the table
                    document.getElementById("matchTable").style.display = 'block' // show the table
                    document.getElementById("loadingSpinner").style.display = 'none' // remove the spinner
                    fetch('/db/researchers').then(response => response.json()).then(data => {
                        // iterate over the researchers
                        for (var i = 0; i < data.length; i++) {
                            row = data[i]

                            // skip the row if its not in matchResults
                            if (!matchResults[row.email]) { continue; }

                            // the name should be a link
                            uniqueId = row.email.split("@")[0]
                            row.nameLink = `<a href='/researcher/${uniqueId.replace(".", "")}'>${row.name}</a>`
                            row.score = matchResults[row.email]
                            row.keywordsString = row.keywords.join(", ")
                            row.uniqueId = uniqueId
                            row.selected = false

                            // add to the table data
                            tableData[6].dataSet.push(row)
                            tableData[6].showRows.push(row)
                        }

                        tableData[6].showFields = ['nameLink', 'email', 'keywordsString', 'activity', 'score', 'SELECT']

                        // initialise the table
                        tableData[6].totalPages = Math.ceil(data.length / rowsPerPage)
                        renderTable(6, dbclick=null, idField='uniqueId')
                    })
                }
            });
        }

        function clusterMatch() {
            // get all the user inputs
            school = document.getElementById("schoolMatch").value
            career = document.getElementById("careerMatch").value
            gender = document.getElementById("genderMatch").value

            lower = document.getElementById("lowerMatch").value
            higher = document.getElementById("higherMatch").value
            
            number = document.getElementById("number").value
            strictness = document.getElementById("strictness").value
            
            clusters = getSelectedClusterNames(2)

            for (x in clusters[1]) {
                clusters[1][x] = parseInt(clusters[1][x].split('S')[1])
            }

            data = {
                "matchKeywords": getKeywords(2),
                "school": school,
                "career": career,
                "gender": gender,
                "lower": lower,
                "higher": higher,
                "clusters": clusters,
                "cutOff": number,
                "cutOffMethod": "number",
                "matchMethod": "direct"
            }

            // hide the modal and show the spinner
            document.getElementById('modal5').style.display = 'none'
            document.getElementById("loadingSpinner").style.display = 'block'

            fetch('/match', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            }).then(response => response.json()).then(matchResults => {
                if (matchResults.status == "error") {
                    document.getElementById("loadingSpinner").style.display = 'none'
                    document.getElementById('showAlert').textContent = matchResults.alert
                    openModal(2)
                } else {
                    console.log(matchResults)
                    document.getElementById("tableBody6").innerHTML = '' // reset the table
                    document.getElementById("matchTable").style.display = 'block' // show the table
                    document.getElementById("loadingSpinner").style.display = 'none' // remove the spinner
                    fetch('/db/researchers').then(response => response.json()).then(data => {
                        // iterate over the researchers
                        for (var i = 0; i < data.length; i++) {
                            row = data[i]

                            // skip the row if its not in matchResults
                            if (!matchResults[row.email]) { continue; }

                            // the name should be a link
                            uniqueId = row.email.split("@")[0]
                            row.nameLink = `<a href='/researcher/${uniqueId.replace(".", "")}'>${row.name}</a>`
                            row.score = matchResults[row.email]
                            row.keywordsString = row.keywords.join(", ")
                            row.uniqueId = uniqueId
                            row.selected = false

                            // add to the table data
                            tableData[6].dataSet.push(row)
                            tableData[6].showRows.push(row)
                        }

                        tableData[6].showFields = ['nameLink', 'email', 'keywordsString', 'activity', 'score', 'SELECT']

                        // try catch in case the table doesn't exist in that page
                        try {
                            tableData[6].totalPages = Math.ceil(data.length / rowsPerPage)
                            renderTable(6, dbclick=null, idField='uniqueId')
                        } catch {

                        }
                    })
                }
            });
        }
    </script>
    <script>
        function initialise() {
            clusters = "<%= clusters %>"
            clusters = clusters.split(", ")

            // process cluster IDs
            clusterNames = []
            for (x in clustersData) {
                if (clusters.includes(clustersData[x].id.toString())) {
                    clusterNames.push(clustersData[x].name)
                }
            }

            clusterNames = clusterNames.join(', ')
            document.getElementById('grantClusters').textContent = clusterNames

            keywords = `<%= keywords %>`
            keywords = keywords.split("\n")
            for (x in keywords) {
                keyword = keywords[x]
                document.getElementById('grantKeywords').value += '- ' + keyword + '\n'
            }
        }
    </script>
    <script>
        // wait for a condition to be true
        const waitFor = (conditionFn, callback, interval = 50) => {
            const checker = setInterval(() => {
            if (conditionFn()) {
                clearInterval(checker);
                callback();
            }
            }, interval);
        };

        // wait for clusters to be initialised
        waitFor(
            () => clustersInitialised === true,
            () => {
                initialise()
            }
        );
    </script>
    <script>
        selectedNames = [] // stores the names of the selected researchers
        selectedIds = [] // stores the uniqueID of the selected researchers
        selectedEmails = [] // stores the emails of the selected researchers

        function emailResearchers() {
            navigator.clipboard.writeText(selectedEmails.join(", "));

            fetch('/confirmmatch/<%= id %>', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({researchersNames: selectedNames, researchersEmails: selectedEmails})
            }).then(response => response.json()).then(data => {
                if (!data.success) {
                    document.getElementById('showAlert').textContent = data.alert
                    openModal(2)
                } else {
                    window.open("https://outlook.office.com/mail/")
                    window.location.href = `/grant/<%= id %>`
                }
            })
        }

        function refreshSelectedResearchers() {
            output = []

            // go through each researcher
            for (r in selectedNames) {
                researcherName = selectedNames[r]
                researcherId = selectedIds[r]
                // add the researcher's link to the list of links
                output.push(`<a href='/researcher/${researcherId}'>${researcherName}</a>`)
            }

            // substitute the list of links for the selectedResearchers element
            document.getElementById("selectedResearchers").innerHTML = output.join(', ')
        }

        function handleSelection(element) {
            // get the id based of the element (should be in format [TABLENAME]-[ELEMENT ID])
            id = element.split('-')[1]

            // try to find the row to change
            tableIndex = -1 // this will store the row that has the same id
            for (r in tableData[6].dataSet) {
                row = tableData[6].dataSet[r]
                if (row.uniqueId == id) {
                    tableIndex = r;
                    break
                }
            }

            if (tableIndex == -1) {
                console.log("ERROR - No ID exists")
                return
            }

            console.log(tableIndex, tableData[6].dataSet[tableIndex])

            fetch('/db/researchers').then(response => response.json()).then(data => {
                // iterate over the researchers
                for (var i = 0; i < data.length; i++) {
                    row = data[i]

                    // the name should be a link
                    uniqueId = row.email.split("@")[0]

                    // skip the row if its not the right one
                    if (uniqueId != id) { continue; }

                    // all code here is executed only if the uniqueId is the id

                    // get the checkbox
                    checkbox = document.getElementById(`select-${tableNumber}-${id}`);

                    // If the checkbox is checked, add it to the displayed list
                    if (checkbox.checked == true){
                        selectedEmails.push(row.email)
                        selectedIds.push(row.uniqueId)
                        selectedNames.push(row.name)

                        tableData[6].dataSet[tableIndex].selected = true // change the table data
                    } else {
                        // remove from emails list
                        index = selectedEmails.indexOf(row.email);
                        // only splice array when item is found
                        if (index > -1) { 
                            selectedEmails.splice(index, 1); // remove the researcher from the list
                        } else {
                            console.log("ERROR - Email does not exist in the list of emails")
                        }

                        // remove from names list
                        index = selectedNames.indexOf(row.name);
                        // only splice array when item is found
                        if (index > -1) { 
                            selectedNames.splice(index, 1); // remove the researcher from the list
                        } else {
                            console.log("ERROR - Name does not exist in the list of emails")
                        }

                        // remove from ids list
                        index = selectedIds.indexOf(row.uniqueId);
                        // only splice array when item is found
                        if (index > -1) { 
                            selectedIds.splice(index, 1); // remove the researcher from the list
                        } else {
                            console.log("ERROR - ID does not exist in the list of emails")
                        }

                        tableData[6].dataSet[tableIndex].selected = false // change the table data
                    }

                    refreshSelectedResearchers() // refresh the text

                    break; // exit the loop
                }
            })
        }
    </script>
</body>
</html>