<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>GrantMatcher - Tickets</title>
    <%- head %>
</head>
<body>
    <!-- Navigation (sticky header). Links and dropdown collapse into a hamburger menu when the screen size is small. -->
    <nav class="navbar navbar-expand-lg navbar-dark px-3" id="navbar">
        <!-- Brand on the left -->
        <a class="navbar-brand bigBrand" href="/" id="navbar-brand">Grant Matcher</a>

        <!-- Toggler (for mobile view) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" id="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links on the right -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Links here -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tickets">Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutorial">Tutorial</a>
                </li>

                <!-- Dropdown (user menu) -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user-circle-o"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/settings">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <!-- Logout button (opens a modal) -->
                        <li><button class="dropdown-item" id="modalBtn1" onclick="openModal(1)">Logout</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- The modal the logout button in the navigation bar opens -->
    <div id="modal1" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Log out</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close1">&times;</span>
            </div>
            
            <!-- Confirmation message (for user control) -->
            <p>Are you sure you want to log out?</p>
            <div class="together">
                <form method="post" action="/">
                    <input type="submit" value="Logout!" class="buttonStyle">
                </form>
                <button id='cancel1' class="buttonStyle">Cancel</button>
            </div>
        </div>
    </div>

    <!-- Error modal -->
    <div id="modal2" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Error!</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close2">&times;</span>
            </div>
            <hr/>
            
            <p id="showAlert"><%= showAlert %></p>
        </div>
    </div>

    <!-- The modal to search for tickets -->
    <div id="modal3" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Search Tickets</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close3">&times;</span>
            </div>

            <div class="together">
                <div style="width: 100%;">
                    <label><b>TITLE</b></label>
                    <input type="text" id="title" class="form-control" name="title" placeholder="Enter a part of the ticket's title">
                </div>
                
                <div style="width: 100%;">
                    <label><b>POSTER</b></label>
                    <!-- script.js will fill this with all the user names -->
                    <select name="ticketPoster" id="ticketPoster" style="width: 100%" class="form-control">
                        <option value="all">Any</option>
                    </select>
                </div>
            </div>
            <br>

            <div class="together">
                <div style="width: 100%;">
                    <label><b>MEMBERS</b>
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Select a user who is a member of the ticket (i.e., they are able to view the ticket and post replies).">
                            <!-- Makes the tooltip circular -->
                            <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                        </button>
                    </label>
                    <!-- script.js will fill this with all the user names -->
                    <select name="ticketMember" id="ticketMember" style="width: 100%" class="form-control">
                        <option value="all">Any</option>
                    </select>
                </div>
                
                <div style="width: 100%;">
                    <label><b>TAGS</b>
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Select a tag to search in. These are broad categories about a ticket's topic.">
                            <!-- Makes the tooltip circular -->
                            <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                        </button>
                    </label>
                    <select name="tags" id="tags" style="width: 100%" class="form-control">
                        <option value="all">Any</option>
                        <option value="bug">Bug Report</option>
                        <option value="feedback">Feedback</option>
                        <option value="inquiry">Inquiry</option>
                        <option value="report">User Report</option>
                        <option value="help">Tech Help</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <br>

            <div class="together">
                <div style="width: 100%;">
                    <label><b>DATE ADDED</b></label>
                    <div class="together datetogether">
                        <input type="date" id="dateLower" class="form-control" name="dateLower" style="width: 100%"><p style="margin-left: 5px; margin-right: 5px;">to</p><input type="date" class="form-control" id="dateHigher" name="dateHigher" style="width: 100%">
                    </div>
                </div>
                
                <div style="width: 100%;">
                    <label><b>RESOLVED?</b>
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Tickets are unresolved when the poster is still waiting for a solution or a resolution to their problem.">
                            <!-- Makes the tooltip circular -->
                            <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                        </button>
                    </label>
                    <select name="resolved" class="form-control" id="resolved" style="width: 100%">
                        <option value="all">Any</option>
                        <option value="yes">Resolved</option>
                        <option value="no">Unresolved</option>
                    </select>
                </div>
            </div>
            <br>

            <div class="together">
                <div style="width: 100%;">
                    <button class="buttonStyle blue" style="width: 100%;" onclick="resetTicketSearch(10, 3)">Reset Form</button><br>
                </div>
                
                <div style="width: 100%;">
                    <button class="buttonStyle pink" style="width: 100%;" onclick="searchTicket(10, 3)">Search</button>
                </div>
            </div>
            <br>
        </div>
    </div>

    <!-- The modal when the user tries to filter a table but nothing is found -->
    <div id="modal8" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Nothing Found</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close8">&times;</span>
            </div>
            
            <p>Nothing was found in this search :( Reset the form or try different parameters.</p>
        </div>
    </div>

    <!-- The main content -->
    <main>
        <section>
            <h1>Tickets</h1>
        </section>
        <hr/>

        <section>
            <h2>All Tickets</h2>
            <div class="tableContainer" id="tableContainer2">
                <div>
                    <div class="tableicons">
                        <button type="button" class="btn" style="padding-left: 0" data-toggle="tooltip" data-placement="top" title="Filter Tickets">
                            <i onclick="openModal(3)" class="fa fa-search"></i>
                        </button>
                        <button type="button" class="btn" style="padding-left: 0" data-toggle="tooltip" data-placement="top" title="Add a Ticket">
                            <i onclick="openModal(4)" class="fa fa-plus-square-o"></i>
                        </button>
                    </div>
                    <div class="tablesort">
                        <label for="sortTable10">Sort By:</label>

                        <select name="sortTable10" id="sortTable10" onchange="sortTable(10)" style="margin-bottom: 5px;">
                            <option value="blahblah" default>Select</option>
                            <option value="username">Poster's Name</option>
                            <option value="ticketDate">Date</option>
                            <option value="memberNumber"># of Members</option>
                            <option value="replyNumber"># of Replies</option>
                        </select>
                    </div>
                </div>

                <div class="scrollTableContainer">
                    <table class="table table-bordered" style="margin-bottom: 0; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black;">
                        <thead>
                            <!-- Column names -->
                            <tr>
                            <th>Information</th>
                            </tr>
                        </thead>
                        <!-- Table items -->
                        <tbody id="tableBody10"></tbody>
                    </table>
                </div>

                <!-- Table footer (with pagination controls and download button) -->
                <div class="pagination-controls" style="border: 1px solid black; margin-top: 0;">
                    <!-- The download button should be left-aligned while the rest is right-aligned -->
                    <!-- align-items-center ensures that the text and icons are aligned properly (otherwise the text sticks out vertically and its distracting) -->
                    <div class="d-flex align-items-center gap-2 d-flex w-100 px-3 py-2">
                        <div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-download"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">XML</a></li>
                                    <li><a class="dropdown-item" href="#">CSV</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ms-auto">
                            <!-- Numbering the IDs so I can use many tables (code reuse) -->
                            <button class="btn" id="firstNav10" onclick="goToFirst(10)"><i class="fa fa-angle-double-left"></i></button>
                            <button class="btn" id="prevNav10" onclick="goToPrev(10)"><i class="fa fa-angle-left"></i></button>
                            <!-- Tells the user what page they are on -->
                            <span id="pageStats10"></span>
                            <button class="btn" id="nextNav10" onclick="goToNext(10)"><i class="fa fa-angle-right"></i></button>
                            <button class="btn" id="lastNav10" onclick="goToLast(10)"><i class="fa fa-angle-double-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <!-- EJS partial (for code reuse and efficiency) -->
    <%- footer %>

    <!-- Bootstrap for JS -->
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <!-- This file allows for the user to interact with the elements on the site and for the site to give feedback to the user -->
    <script src="script.js"></script>
    <!-- JQuery for the tooltip -->
    <script>
        $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
    </script>
    <script>
        // show alerts
        if ("<%= showAlert %>" != "no") {
            openModal(2);
        }
    </script>
    <script>
        // get all the ticket information to be presented in the table
        <% for (var i = 0 ; i < tickets.length ; i++) { %>
            <% if (tickets[i].members.includes(currentuser)) { %>
                ticketString = ''
                ticketData = {}

                // add ticket link
                ticketString += '<p><a href="ticket/<%= tickets[i].ticketID %>">'
                // get resolution status
                resolved = 'yes'
                <% if (tickets[i].resolutionDetails.length == 0) { %>
                    ticketString += '<i class="fa fa-circle-o"></i> '
                    resolved = 'no'
                <% } else { %>
                    ticketString += '<i class="fa fa-check-circle"></i> '
                <% } %>

                // ticket title
                ticketString += '<b><%= tickets[i].title %>'

                // add information for the tags
                ticketTags = []
                ticketTagsPresent = []
                <% if (tickets[i].tags.includes('other')) { %>
                    ticketTags.push('other')
                    ticketTagsPresent.push('Other')
                <% } %>
                <% if (tickets[i].tags.includes('bug')) { %>
                    ticketTags.push('bug')
                    ticketTagsPresent.push('Bug Report')
                <% } %>
                <%  if (tickets[i].tags.includes('feedback')) { %>
                    ticketTags.push('feedback')
                    ticketTagsPresent.push('Feedback')
                <% } %>
                <%  if (tickets[i].tags.includes('inquiry')) { %>
                    ticketTags.push('inquiry')
                    ticketTagsPresent.push('Inquiry')
                <% } %>
                <%  if (tickets[i].tags.includes('report')) { %>
                    ticketTags.push('report')
                    ticketTagsPresent.push('User Report')
                <% } %>
                <% if (tickets[i].tags.includes('help')) { %>
                    ticketTags.push('help')
                    ticketTagsPresent.push('Tech Help')
                <% } %>

                if (ticketTagsPresent.length > 0) {
                    ticketString += ' (' + ticketTagsPresent.join(', ') + ')'
                }

                // ticket member information
                ticketString += ' - </b><%= tickets[i].username %>'

                <% if (tickets[i].members.length > 1) { %>
                    ticketString += ' + <%= tickets[i].members.length - 1 %> others'
                <% } %>
                
                // add preview for content
                ticketString += '</a></p><p><b><%= tickets[i].ticketDate %></b> <%= tickets[i].content.slice(0, 50) %></p>'

                // add to data
                ticketData.ticketString = ticketString
                ticketData.username = '<%= tickets[i].username %>'
                ticketData.email = '<%= tickets[i].userEmail %>'
                ticketData.ticketDate = "<%= tickets[i].ticketDate.split('-').reverse().join('/') %>"
                ticketData.memberNumber = "<%= tickets[i].members.length %>"
                ticketData.replyNumber = "<%= tickets[i].replies.length %>"
                ticketData.title = "<%= tickets[i].title %>"
                ticketData.content = "<%= tickets[i].content %>"
                ticketData.tags = ticketTags
                ticketData.resolved = resolved
                ticketData.date = '<%= tickets[i].ticketDate %>'

                // get members
                members = []
                <% for (x in tickets[i].members) { %>
                    members.push('<%= tickets[i].members[x] %>')
                <% } %>

                ticketData.members = members

                tableData[10].dataSet.push(ticketData)
                tableData[10].showRows.push(ticketData)
            <% } %>
        <% } %>

        renderTable(10)
    </script>
</body>
</html>