<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>GrantMatcher - User Page</title>
    <%- head %>
</head>
<% if (theuser.length == 0) { %>
<body>
<% } else { %>
<body style="background-color: rgb(255, 214, 214);">
<% } %>
    <!-- Navigation (sticky header). Links and dropdown collapse into a hamburger menu when the screen size is small. -->
    <nav class="navbar navbar-expand-lg navbar-dark px-3" id="navbar">
        <!-- Brand on the left -->
        <a class="navbar-brand bigBrand" href="/" id="navbar-brand">Grant Matcher</a>

        <!-- Toggler (for mobile view) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" id="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links on the right -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Links here -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tickets">Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutorial">Tutorial</a>
                </li>

                <!-- Dropdown (user menu) -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user-circle-o"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/settings">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <!-- Logout button (opens a modal) -->
                        <li><button class="dropdown-item" id="modalBtn1" onclick="openModal(1)">Logout</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- The modal the logout button in the navigation bar opens -->
    <div id="modal1" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Log out</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close1">&times;</span>
            </div>
            
            <!-- Confirmation message (for user control) -->
            <p>Are you sure you want to log out?</p>
            <div style="display: flex">
                <form method="post" action="/">
                    <input type="submit" value="Logout!" class="buttonStyle">
                </form>
                <button id='cancel1' class="buttonStyle">Cancel</button>
            </div>
        </div>
    </div>

    <!-- Error modal -->
    <div id="modal2" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Error!</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close2">&times;</span>
            </div>
            
            <p id="showAlert"><%= showAlert %></p>
        </div>
    </div>

    <!-- Delete account modal -->
    <div id="modal3" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Delete Account</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close3">&times;</span>
            </div>
            
            <label><b>REASON FOR DELETION</b></label>
            <p>Why do you want to delete your account? This action cannot be undone and your data will be permanently deleted.</p>
            <textarea style="width: 100%" id="deleteReason" rows="6"></textarea>
            <button style="width: 100%" class="buttonStyle pink" onclick="deleteAccount()">Delete my Account</button>
            <button style="width: 100%" class="buttonStyle blue" id="cancel3">Cancel</button>
        </div>
    </div>

    <!-- Confirmation modal for going back to dashboard -->
    <div id="modal9" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Go Back</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close9">&times;</span>
            </div>
            
            <!-- Confirmation message (for user control) -->
            <p>Are you sure you want to go back to the dashboard?</p>
            <button class="buttonStyle" onclick="window.location.href = '/'">Go Back</button>
            <button id='cancel9' class="buttonStyle">Cancel</button>
        </div>
    </div>

    <!-- The main content -->
    <% if (theuser.length == 0) { %>
        <!-- The main content if no user details are provided -->
         <main>
            <div style="background-color: white;">
                <section>
                    <div class="together align-items-center" style="justify-content: space-between;">
                        <div>
                            <h1>Profile</h1>
                        </div>
                        <div>
                            <i class="fa fa-times" onclick="openModal(9)"></i>
                        </div>
                    </div>
                </section>
                <hr/>

                <section>
                    <p>Woops! Something went wrong. Please try again.</p>
                </section>
            </div>
        </main>
    <% } else { %>
        <!-- The main content if user details are provided -->
         <main>
            <div style="background-color: white;">
                <section>
                    <div class="together align-items-center" style="justify-content: space-between;">
                        <div>
                            <h1>User Page</h1>
                        </div>
                        <div>
                            <i class="fa fa-times" onclick="openModal(9)"></i>
                        </div>
                    </div>
                </section>
                <hr/>

                <% if (['manager', 'developer'].includes(role)) { %>
                    <section>
                            <h2>Edit Name</h2>
                            <label><b>NAME:</b></label>
                            <input type="text" id="newName" class="form-control" style="width: 100%" value="<%= theuser.name %>"><br>
                            <div style="display: flex">
                                <button class="buttonStyle pink" style="width: 100%" onclick="confirmName()">Confirm</button>
                                <button class="buttonStyle blue" style="width: 100%" onclick="resetName()">Reset</button>
                            </div><br><br>

                            <h2>Change Password</h2>
                            <label><b>CURRENT PASSWORD:</b></label>
                            <div class="together" style="gap: 0;">
                                <input type="password" id="currentPassword" class="form-control" style="width: 100%">
                                <button onclick="toggleOld()" id="oldToggle"><i class="fa fa-eye"></i></button>
                            </div><br>

                            <label><b>NEW PASSWORD:</b></label>
                            <div class="together" style="gap: 0;">
                                <input type="password" id="newPassword" class="form-control" style="width: 100%">
                                <button onclick="toggleNew()" id="newToggle"><i class="fa fa-eye"></i></button>
                            </div><br>

                            <label><b>CONFIRM PASSWORD:</b></label>
                            <div class="together" style="gap: 0;">
                                <input type="password" id="confirmPassword" class="form-control" style="width: 100%">
                                <button onclick="toggleConfirm()" id="confirmToggle"><i class="fa fa-eye"></i></button>
                            </div><br>

                            <div style="display: flex">
                                <button class="buttonStyle pink" style="width: 100%" onclick="confirmPassword()">Confirm</button>
                                <button class="buttonStyle blue" style="width: 100%" onclick="resetPassword()">Reset</button>
                            </div><br>
                    </section>
                    <hr>
                <% } %>

                <section>
                    <h2>INFORMATION</h2>

                    <div class="together align-items-center" style="justify-content: space-between;">
                        <div>
                            <h3>Name:</h3>
                            <h3>Email:</h3>
                            <h3>XP:</h3>
                            <h3>Role:</h3>
                            <h3>Grants Matched:</h3>
                            <h3>Date Joined:</h3>
                        </div>
                        <div style="text-align: right;">
                            <p><%= theuser.name %></p>
                            <p><%= theuser.email %></p>
                            <p><%= theuser.xp %></p>
                            <p><%= theuser.role %></p>
                            <p><%= theuser.grantsMatched %></p>
                            <p><%= theuser.dateJoined %></p>
                        </div>
                    </div>
                </section>
                <hr style="margin-bottom: 0">
            </div>

            <div style="padding-top: 10px; padding-bottom: 10px; height: 100%">
                <section>
                    <h2>Danger Zone!</h2>
                    <button class="buttonStyle" style="background-color: red; color: white;" onclick="openModal(3)">Delete Account</button>
                </section>
            </div>
        </main>
    <% } %>
    
    <!-- EJS partial (for code reuse and efficiency) -->
    <%- footer %>

    <!-- Bootstrap for JS -->
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <!-- This file allows for the user to interact with the elements on the site and for the site to give feedback to the user -->
    <script src="/script.js"></script>
    <!-- JQuery for the tooltip -->
    <script>
        $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
    </script>
    <script>
        // show alerts
        if ("<%= showAlert %>" != "no") {
            openModal(2);
        }
    </script>
    <script>
        <% if (theuser.length != 0) { %>
            function deleteAccount() {
                // get user input
                reason = document.getElementById("deleteReason").value

                // validate it
                if (reason.trim() == '' || reason.length < 10) {
                    document.getElementById('modal3').style.display = 'none'
                    document.getElementById("showAlert").textContent = 'The reason you provide for account deletion must be at least 10 characters long.'
                    openModal(2)
                    return
                }

                // turn the info into a json format
                data = {
                    'reason': reason
                }

                // add the code to the database
                fetch('/deleteaccount', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data)
                }).then(response => response.json()).then(result => {
                    document.getElementById("modal3").style.display = 'none'
                    if (result.status == "error") {
                        // open the error modal if there is an error
                        document.getElementById('modal3').style.display = 'none'
                        console.log(result)
                        document.getElementById('showAlert').textContent = result.alert
                        openModal(2)
                    } else {
                        window.location.href = '/'
                    }
                })
            }

            function confirmPassword() {
                // get user input
                currentPassword = document.getElementById("currentPassword").value
                newPassword = document.getElementById("newPassword").value
                confirmPasswordVar = document.getElementById("confirmPassword").value

                // validate it

                // password must be at least 5 characters
                if (newPassword.length < 5) {
                    document.getElementById("showAlert").textContent = 'Your new password must be at least 5 characters long.'
                    openModal(2)
                    return
                }

                // new password and confirm password must match
                if (newPassword != confirmPasswordVar) {
                    document.getElementById("showAlert").textContent = 'Your passwords don\'t match. Please retry.'
                    openModal(2)
                    return
                }

                // turn the info into a json format
                data = {
                    'newPassword': newPassword,
                    'oldPassword': currentPassword
                }

                // add the code to the database
                fetch('/changepassword', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data)
                }).then(response => response.json()).then(result => {
                    document.getElementById("modal3").style.display = 'none'
                    if (result.status == "error") {
                        // open the error modal if there is an error
                        console.log(result)
                        document.getElementById('showAlert').textContent = result.alert
                        openModal(2)
                    } else {
                        window.location.reload()
                    }
                })
            }

            function resetPassword() {
                // reset the input fields
                document.getElementById("currentPassword").value = ""
                document.getElementById("newPassword").value = ""
                document.getElementById("confirmPassword").value = ""
            }

            function confirmName() {
                // get user input
                name = document.getElementById("newName").value

                // validate it
                if (name.trim() == '' || name.length < 5) {
                    document.getElementById("showAlert").textContent = 'Please make sure your details are valid before confirming. Your name should be at least 5 characters long.'
                    openModal(2)
                    return
                }

                // turn the info into a json format
                data = {
                    'name': name
                }

                // add the code to the database
                fetch('/changename', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data)
                }).then(response => response.json()).then(result => {
                    document.getElementById("modal3").style.display = 'none'
                    if (result.status == "error") {
                        // open the error modal if there is an error
                        console.log(result)
                        document.getElementById('showAlert').textContent = result.alert
                        openModal(2)
                    } else {
                        window.location.reload()
                    }
                })
            }

            function resetName() {
                // reset the input fields
                document.getElementById("newName").value = "<%= theuser.name %>"
            }
        <% } %>
    </script>
    <script>
        // toggle the old password field
        function toggleOld() {
            password = document.getElementById('currentPassword') // get the password element

            // if its hidden...
            if (password.type == 'password') {
                password.type = 'text' // make it visible
                // change the toggle button
                document.getElementById('oldToggle').innerHTML = '<i class="fa fa-eye-slash"></i>'
            // otherwise if its visible...
            } else {
                password.type = 'password' // make it hidden
                // change the toggle button
                document.getElementById('oldToggle').innerHTML = '<i class="fa fa-eye"></i>'
            }
        }

        // toggle the new password field
        function toggleNew() {
            password = document.getElementById('newPassword') // get the password element

            // if its hidden...
            if (password.type == 'password') {
                password.type = 'text' // make it visible
                // change the toggle button
                document.getElementById('newToggle').innerHTML = '<i class="fa fa-eye-slash"></i>'
            // otherwise if its visible...
            } else {
                password.type = 'password' // make it hidden
                // change the toggle button
                document.getElementById('newToggle').innerHTML = '<i class="fa fa-eye"></i>'
            }
        }

        // toggle the confirm password field
        function toggleConfirm() {
            password = document.getElementById('confirmPassword') // get the password element

            // if its hidden...
            if (password.type == 'password') {
                password.type = 'text' // make it visible
                // change the toggle button
                document.getElementById('confirmToggle').innerHTML = '<i class="fa fa-eye-slash"></i>'
            // otherwise if its visible...
            } else {
                password.type = 'password' // make it hidden
                // change the toggle button
                document.getElementById('confirmToggle').innerHTML = '<i class="fa fa-eye"></i>'
            }
        }
    </script>
</body>
</html>